body {
    background: #F3F6FA;
}
p {
     font-family: 'Poppins', sans-serif;
     font-size: 1.1em;
     font-weight: 300;
     line-height: 1.7em;
     color: #999;
 }

 a,
 a:hover,
 a:focus {
     color: inherit !important;
     text-decoration: none !important;
     transition: all 0.3s !important;
 }

 .navbar {
     padding: 15px 10px;
     background: #fff;
     border: none;
     border-radius: 0;
     margin-bottom: 40px;
     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
 }

 .navbar-btn {
     box-shadow: none;
     outline: none !important;
     border: none;
 }

 .line {
     width: 100%;
     height: 1px;
     border-bottom: 1px dashed #ddd;
     margin: 40px 0;
 }

 /* ---------------------------------------------------
     SIDEBAR STYLE
 ----------------------------------------------------- */

 .wrapper {
     display: flex;
     width: 100%;
 }

 #sidebar {
     width: 250px;
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     z-index: 999;
     background: #00508B;
     color: #fff;
     transition: all 0.3s;
 }

 #sidebar.active {
     margin-left: -250px;
 }

 #sidebar .sidebar-header {
     padding: 11px 20px 10px 20px;
     background: white;
 }

 #sidebar ul.components {
     border-bottom: 1px solid #47748b;
 }

 #sidebar ul p {
     color: #fff;
     padding: 10px;
 }

 #sidebar ul li a {
     padding: 10px;
     font-size: 1.1em;
     display: block;
 }

 #sidebar ul li a:hover {
     color: white;
     background:#0092D1;
 }

 #sidebar ul li.active>a,
 a[aria-expanded="true"] {
     color: #fff;
     background: #0092D1;
 }

 a[data-toggle="collapse"] {
     position: relative;
 }

 .dropdown-toggle::after {
     display: block;
     position: absolute;
     top: 50%;
     right: 20px;
     transform: translateY(-50%);
 }

 ul ul a {
     font-size: 0.9em !important;
     padding-left: 30px !important;
     background: #00508B;
 }

 .menu-text {
    color:white;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 10px;
    left:5px;
 }


 .menu-btn {
     background:#0092D1;
     margin-top: 10px;
     color: white;
 }

 .menu-header {
     width:100%;
     height:64px;
     background: #0092D1;
 }




 /* ---------------------------------------------------
     CONTENT STYLE
 ----------------------------------------------------- */

 #content {
     width: calc(100% - 250px);
     min-height: 100vh;
     transition: all 0.3s;
     position: absolute;
     top: 0;
     right: 0;
 }

 #content.active {
     width: 100%;
 }

 /* ---------------------------------------------------
     MEDIAQUERIES
 ----------------------------------------------------- */

 @media (max-width: 768px) {
     #sidebar {
         margin-left: -250px;
     }
     #sidebar.active {
         margin-left: 0;
     }
     #content {
         width: 100%;
     }
     #content.active {
         width: calc(100% - 250px);
     }
    
 }