<div class="row" style="padding-top: 50px;">
  <div class="offset-sm-4 col-sm-4 text-center">
    <%= render 'layouts/messages' %>
    <img style="width: 50%; "alt="logoParty" src="<%= image_url 'logo.png' %>"/>
    <hr>
  </div>
</div>
<div class="row">
  <div class="offset-sm-4 col-sm-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'omb_loginForm'} ) do |f| %>
      <h4 class="text-center">Iniciar Sesión</h4>
      <hr>
      <div class="input-group">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Correo", value: params[:email] %>
      </div>
      <br>
      <div class="input-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña", value: params[:password] %>
      </div>
      <span class="help-block" id="alertLogin"></span>
      <hr>
      <%= f.submit "Ingresar", class: "btn btn-md btn-primary btn-block", onclick: "return validateFormLogin();" %>
    <% end %>
  </div>
</div>