<p id="notice"><%= notice %></p>

<p>
  <strong>User service:</strong>
  <%= @staff.user_service %>
</p>

<p>
  <strong>User:</strong>
  <%= @staff.user %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
