<%= form_with(model: user_service, local: true) do |form| %>
  <% if user_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_service.errors.count, "error") %> prohibited this user_service from being saved:</h2>

      <ul>
      <% user_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.text_field :service_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
