<% if can? :read, user_service %>
  <tr id="<%= user_service.id %>">
    <td><%= user_service.user.names %></td>
    <td><%= user_service.score_by_user %></td>
    <td><%= user_service.comment_by_user %></td>
  </tr>
<% end %>