<div class="container">
  <div class="row">
    <h2>Servicios solicitados de <%= @service.name %></h2>
    <table class="table">
      <thead>
        <tr>
          <th>Solicitante</th>
          <th>Calificación de usuario</th>
          <th>Comentario</th>
        </tr>
      </thead>
      <tbody>
        <% @user_services.each do |user_service| %>
          <%= render "row", user_service: user_service %>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Regresar", services_path, class: "btn btn-default" %>
  </div>
</div>