<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_service.user %>
</p>

<p>
  <strong>Service:</strong>
  <%= @user_service.service %>
</p>

<%= link_to 'Edit', edit_user_service_path(@user_service) %> |
<%= link_to 'Back', user_services_path %>
