<div class="modal-header">
  <h4 class="modal-title" id="customerModalLabel"><%= title %></h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= form_with(model: service, local: false) do |form| %>
  <div class="modal-body">
    <div class="form-group">
      <label for="location_name" class="form-control-label">Nombre:</label>
      <%= form.text_field :name, class:'form-control', autofocus: true, placeholder: "Nombre", maxlength: 55 %>
    </div>
    <div class="form-group">
      <label for="service[description]" class="form-control-label">Descripción:</label>
      <%= form.text_area :description, class:'form-control', placeholder: "Descripción", maxlength: 255, rows: 8, style: "resize: none;" %>
    </div>
    <div class="custom-control custom-switch">
      <%= form.check_box :is_active, class: "custom-control-input", id: "switch1" %>
      <label class="custom-control-label" for="switch1">Activo</label>
    </div>
    <span id="span_form" style="color: red;"></span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" onclick="dismissServiceModal()">Cancelar</button>
    <button type="submit" class="btn btn-primary" onclick="return validateServiceForm()">Guardar</button>
  </div>
<% end %>