<% if can? :read, service %>
  <tr id="<%= service.id %>">
    <td><%= service.name %></td>
    <td><%= service.description %></td>
    <td><%= yes_no(service.is_active) %></td>
    <td><%= link_to "Solicitudes", service_user_services_path(service) %></td>
    <% if can? :update, service %>
    	<td><%= link_to "Editar", edit_service_path(service), remote: true, "data-toggle" => "modal", "data-target" => "#serviceModal" %></td>
    <% end %>
    <% if can? :destroy, service and current_user.admin? %>
    	<td><%= link_to 'Eliminar', service, method: :delete, remote: true, data: {confirm: 'Eliminar servicio'} %></td>
    <% end %>
  </tr>
<% end %>