<% if @service.errors.empty? %>
  // add the row to the table, show alert and hide modal
  $("tr#<%= @service.id %>").remove();
  $('.flash_wrapper').html('<%= j render "layouts/messages" %>');
<% else %>
  // show first error
  alert('<%= @service.errors.full_messages[0] %>');
<% end %>