<div class="container">
  <div class="row">
    <h2>Servicios ofertados</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Activo</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <%= render "row", service: service %>
        <% end %>
      </tbody>
    </table>
    <br>

    <% if can? :create, Service %>
      <%= link_to "Nuevo servicio", new_service_path, remote: true, class: "btn btn-primary", data: { toggle: "modal", target: "serviceModal"} %>
    <% end %>

    <% if can? :create, Service or can? :update, Service %>
      <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" id="content-service-modal">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>