<% if @service.errors.empty? %>
  // add the row to the table, show alert and hide modal
  $("tr#<%= @service.id %>").replaceWith('<%= j render "row", service: @service %>');
  $('.flash_wrapper').html('<%= j render "layouts/messages" %>');
  $('#serviceModal').modal('hide');
<% else %>
  // show first error
  alert('<%= @service.errors.full_messages[0] %>');
<% end %>