<!-- source https://github.com/ravishankarsrrav/bootstrap4-responsive-sidebar -->
<div class="menu-header">
	<button type="button" id="sidebarCollapse" class="btn menu-btn">
		<img src="<%= image_url 'nav.png' %>" alt="Menu" >
	</button>
	<span class="menu-text">Party</span>
</div>
