<!-- Sidebar  -->
<!-- source https://github.com/ravishankarsrrav/bootstrap4-responsive-sidebar -->
<nav id="sidebar">
  <div class="sidebar-header" style="background: white;">
    <img style="width: 100%; height: 100px;" alt="logo" src="<%= image_url 'logo.png' %>" >
  </div>

  <ul class="list-unstyled components">
    <li class="<%= is_active_controller('dashboards') %>">
      <%= link_to '<i class="fa fa-home fa-lg"></i> Dashboard'.html_safe, root_path, method: :get %>
    </li>
    <% if current_user.admin? %>
      <li class="<%= is_active_controller(['services']) %>">
        <%= link_to '<i class="fa fa-window-maximize" aria-hidden="true"></i> Servicios ofertados'.html_safe, services_path, method: :get %>
      </li>
    <% end %>
    <li>
      <%= link_to '<i class="fa fa-sign-out fa-lg"></i> Cerrar Sesión'.html_safe, destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</nav>