<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Party</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <% if user_signed_in? %>
        <div class="wrapper">
          <%= render 'layouts/sidebar' %>
          <!-- Page Content  -->
          <!-- source https://github.com/ravishankarsrrav/bootstrap4-responsive-sidebar -->
          <div id="content">
            <%= render 'layouts/header' %>
            <div class="flash_wrapper">
              <%= render 'layouts/messages' %>
            </div>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <div class="container">
          <%= yield %>
        </div>
      <% end %>
    </body>
  </body>

  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  
</html>
